html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,del,dfn,em,img,ins,kbd,q,samp,small,strong,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,footer,header,nav,section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(35,167,217,.5)
}

body {
	font-family: \5FAE\8F6F\96C5\9ED1,"Helvetica Neue",Helvetica,Arial,sans-serif;
	word-wrap: break-word;
	line-height: 1.2;
	min-width: 320px;
	background-color: #f7f7f7
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal
}

img {
	border: 0;
	max-width: 100%;
	height: auto
}

ol,ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

abbr[title] {
	border-bottom: 1px dotted
}

del {
	text-decoration: line-through
}

address,caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: 400
}

input[type=button],input[type=submit] {
	padding: 0;
	-webkit-appearance: none;
	outline: 0
}

button,html input[type=button] {
	cursor: pointer;
	-webkit-appearance: button
}

input[type=checkbox],input[type=radio] {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

a:active,a:focus {
	outline: 0
}

u {
	text-decoration: underline
}

a {
	text-decoration: none;
}
nav{
	list-style:none;
}